@import './variables';


.bar {
    height: $toolbar-height;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-shadow: $shadow;
}

.tools {
    display: flex;
    column-gap: 20px;
}
